/*
* {
    font-family: "Comic Sans MS";
    box-sizing: border-box;
}

div{
    border: 2px solid black;
}

.id{
    background-color: yellow;
}

span .class{
    font-style: italic;
}

div span{
    text-align: end;
}


.class {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto auto auto;
}

/*
.class span{
    grid-row: 1;
    grid-column: 2;
}

.class .id{
    grid-row: 1;
    grid-column: 1;
}

.class #class{
    grid-row: 1;
    grid-column: 2;
}


#H{
    grid-row: 2;
    margin: auto;
    width: 33.33%;
    text-align: right;
}

*/

*{
  font-family: "Comic Sans MS";
  box-sizing: border-box;
}

div{
    border: 2px solid black;
}

/* Outer div */
body > div{
  display: flex;
  flex-direction: column;
}

/* A A A A and F F F F*/
div.id{
  background-color: yellow;
}

/* Middle div (mainly C, B) */
body > div > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse; /*so that C comes first*/
  justify-content: flex-start; /*opposite of flex end because its reversed*/
  
}

/* D D D*/
span.class {
  font-style: italic;
  flex-basis: 100%; /*full width of container*/
  text-align: right;
}

/* div class="class" (E, F, G, H) */
div.class {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto;
}

/* E E E E */
span:not([id]):not([class]) {
  grid-column: 3;
  grid-row: 1 / 3;
  display: flex;
}

/* F F */
div.id {
  grid-column: 1;
  grid-row: 1 / 3;
}

/* G G */
div#class {
  grid-column: 2;
  grid-row: 1 / 3;
}

/* H H H H */
div#H {
  grid-column: 2;
  grid-row: 3;
  width: 33.33%;
  margin: auto;
  text-align: right;
}